{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <table class="table">
        <h2>Personagens</h2>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for character in session["characters"] %}
                <tr>
                    <th scope="row">{{character.id}}</th>
                    <td>{{character.name}}</td>
                    <td>
                        <a class="icon-link" href="/inventory?char_id={{character.id}}">
                            <svg class="bi" aria-hidden="true"><use xlink:href="/inventory?char_id={{character.id}}"></use></svg>
                            inventário do personagem
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
