{% extends "layout.html" %}

{% block title %}
    Inventario
{% endblock %}

{% block main %}

    <table class="table">
        <h2>Armas</h2>
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Peso</th>
                <th scope="col">Dano</th>
                <th scope="col">Propriedades</th>
                <th scope="col">Quantidade</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for weapon in charWeapons %}
                <tr>
                    <th scope="row">{{weapon.name}}</th>
                    <td>{{weapon.price}}</td>
                    <td>{{weapon.weight}} Kg</td>
                    <td>{{weapon.damage}}</td>
                    <td>{{weapon.description}}</td>
                    <td>{{weapon.quantity}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="#" method="POST">
        <div class="row g-3">
            <div class="col-sm-7">
                <select name="item_id" class="form-select" aria-label="Default select example">
                    <option selected value="0">weapons</option>
                    {% for item in items %} 
                        {% if item.type == "weapon" %}
                            <option value="{{item.id}}">{{item.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <input type="number" class="form-control" name="quantity" placeholder="Quantity" aria-label="State">
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">add weapon</button>
            </div>
        </div>
    </form>
    <table class="table">
        <h2>Armaduras</h2>
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Peso</th>
                <th scope="col">CA</th>
                <th scope="col">Propriedades</th>
                <th scope="col">Quantidade</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for armor in charArmors %}
                <tr>
                    <th scope="row">{{armor.name}}</th>
                    <td>{{armor.price}}</td>
                    <td>{{armor.weight}} Kg</td>
                    <td>{{armor.armor_class}}</td>
                    <td>{{armor.description}}</td>
                    <td>{{armor.quantity}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="#" method="POST">
        <div class="row g-3">
            <div class="col-sm-7">
                <select name="item_id" class="form-select" aria-label="Default select example">
                    <option selected value="0">armors</option>
                    {% for item in items %} 
                        {% if item.type == "armor" %}
                            <option value="{{item.id}}">{{item.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <input type="number" class="form-control" name="quantity" placeholder="Quantity" aria-label="State">
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">add armor</button>
            </div>
        </div>
    </form> 
    <table class="table">
        <h2>Itens</h2>
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Peso</th>
                <th scope="col">Descrição</th>
                <th scope="col">Dano</th>
                <th scope="col">CA</th>
                <th scope="col">Quantidade</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                {% for item in charItems %}
                    <th scope="row">{{item.name}}</th>
                    <td>{{item.price}}</td>
                    <td>{{item.weight}} Kg</td>
                    <td>{{item.description}}</td>
                    <td>{{item.damage}}</td>
                    <td>{{item.armor_class}}</td>
                    <td>{{item.quantity}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <form action="#" method="POST">
        <div class="row g-3">
            <div class="col-sm-7">
                <select name="item_id" class="form-select" aria-label="Default select example">
                    <option selected value="0">items</option>
                    {% for item in items %} 
                        {% if item.type == "item" %}
                            <option value="{{item.id}}">{{item.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm">
                <input type="number" class="form-control" name="quantity" placeholder="Quantity" aria-label="State">
            </div>
            <div class="col-sm">
                <button type="submit" class="btn btn-primary">add item</button>
            </div>
        </div>
    </form>
{% endblock %}