{% extends "layout.html" %}

{% block title %}
    Entrar
{% endblock %}

{% block main %}

    {% if alert %}
        <div class="alert alert-danger" role="alert">
            {{alert}}
        </div>
    {% endif %}

    <form action="/login" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Entrar</button>
    </form>

{% endblock %}
